<!DOCTYPE html>
<html>
<head>
    {%if white_labeling == True %}
        {%if white_labeling_config.get('app_name') %}
            <title>{{white_labeling_config.get('app_name')}}</title>
        {%endif%}
    {%else%}
        <title>DataBot</title>
    {%endif%}
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:100,200,300,400,500,600,700,800,900">
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&family=Play&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='style.css') }}?v={{ app_version }}">
    <link rel="icon" href="{{ white_labeling_config.get('favicon_url') if white_labeling_config.get('favicon_url') else url_for('static', path='media/databot-favicon.ico') }}" type="image/x-icon">
    <script>
        function showSpinner() {
            // Hide the login button
            document.getElementById('loginButton').style.display = 'none';
            
            // Show the spinner
            document.getElementById('spinner').style.display = 'block';
        }
    </script>
</head>
<body style="padding: 0px 20px;">
    
    <div class="logo-container">
        {% if white_labeling == True %}
            <img src="{{ white_labeling_config.get('logo_url') if white_labeling_config.get('logo_url') else url_for('static', path='media/DataBot_Logo.svg') }}" style="max-width: {{ white_labeling_config.get('logo_max_width', 200)}}px; margin-bottom: 10px;" alt="Logo" />    
        {% else %}
            <img src="{{ url_for('static', path='media/DataBot_Logo.svg') }}" alt="Logo" style="cursor: pointer; {{ 'width: 130px;' if is_widget == True else ''  }}" onclick="window.open('https://intellimenta.com/product/databot', '_blank');" />    
            <img src="{{ url_for('static', path='media/intellimenta.svg') }}" alt="Powered by Intellimenta" style="cursor: pointer;" onclick="window.open('https://intellimenta.com', '_blank');" />
        {% endif %}
    </div>

    {% if flash_message %}
        <div style="padding-bottom: 10px;">
        {% for message, category in flash_message %}
            <p class="no_margin {{ category }}-message">{{ message }}</p>
        {% endfor %}
        </div>
    {% endif %}

    <form method="POST" onsubmit="showSpinner()">
        <div class="input-container" style="padding-bottom: 0px; {{ 'max-width: 300px;' if is_widget == True else ''  }}">
            <input type="email" placeholder="Email" id="email" name="email" required="" class="input-with-shadow">
            <svg class="input-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                <path d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z" />
                <path d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z" />
            </svg>
        </div>
        <br><br>
        <div class="input-container" style="padding-bottom: 0px; {{ 'max-width: 300px;' if is_widget == True else ''  }}">
            <input type="password" placeholder="Password" id="password" name="password" required="" class="input-with-shadow">
            <svg class="input-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                <path fill-rule="evenodd" d="M12 1.5a5.25 5.25 0 00-5.25 5.25v3a3 3 0 00-3 3v6.75a3 3 0 003 3h10.5a3 3 0 003-3v-6.75a3 3 0 00-3-3v-3c0-2.9-2.35-5.25-5.25-5.25zm3.75 8.25v-3a3.75 3.75 0 10-7.5 0v3h7.5z" clip-rule="evenodd" />
            </svg>
        </div>
        <br><br>
        <input type="submit" value="Login" class="intellimenta-color-button" id="loginButton">
        <div id="spinner" class="spinner"></div>
    </form>
    <p class="below_input_form">
        Don't have an account? <a href="{% if is_widget %}/signup?is-widget=true{% else %}/signup{% endif %}">Sign up here</a><br>
        Forgot your password? <a href="{% if is_widget %}/forgot_password?is-widget=true{% else %}/forgot_password{% endif %}">Reset it here</a>
    </p>
    <br><br>Version: {{app_version}}
</body>
</html>
