<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:100,200,300,400,500,600,700,800,900">
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&family=Play&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='style.css') }}?v={{ app_version }}">
    <link rel="icon" href="{{ white_labeling_config.get('favicon_url') if white_labeling_config.get('favicon_url') else url_for('static', path='media/databot-favicon.ico') }}" type="image/x-icon">
    <script>
        function showSpinner() {
            // Hide the signup button
            document.getElementById('spinner').style.display = 'none';
            // Show the spinner
            document.getElementById('spinner').style.display = 'block';
        }
    </script>
</head>
<body style="padding: 0px 20px;">
    
    <div class="logo-container">
        {% if white_labeling == True %}
        <img src="{{ white_labeling_config.get('logo_url') if white_labeling_config.get('logo_url') else url_for('static', path='media/DataBot_Logo.svg') }}" style="max-width: {{ white_labeling_config.get('logo_max_width', 200)}}px" alt="Logo" />    
        {% else %}
            <img src="{{ url_for('static', path='media/DataBot_Logo.svg') }}" alt="Logo"  style="width: {{'130px' if is_widget == True else '165px' }}"/>    
            <img src="{{ url_for('static', path='media/intellimenta.svg') }}" alt="Powered by Intellimenta" onclick="window.open('https://intellimenta.com', '_blank');" />
        {% endif %}
    </div>

    <p>Email: <b>{{email}}</b></p>
    
    {% if flash_message %}
        <div style="padding-bottom: 10px;">
        {% for message, category in flash_message %}
            <p class="no_margin {{ category }}-message">{{ message }}</p>
        {% endfor %}
        </div>
    {% endif %}

    <form method="POST" onsubmit="showSpinner()">
        <input style="width: 300px; padding: 12px;" type="password" placeholder="New Password" name="new_password" required class="input-with-shadow">
        <br><br>
        <input type="submit" value="Reset Password" class="intellimenta-color-button">
        <div id="spinner" class="spinner"></div>
    </form>
</body>
</html>
